#allMobile{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

    margin-top: 5%;

}

#allMobile > div{

  
    margin: 2%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#head{

   text-align: center;


}